<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <title>404 — страница не найдена · Морской бой для компании</title>
</head>
<body>
<main class="container py-5">
  <h1 class="mb-5">Морской бой для компании</h1>

  <div class="text-center">
    <h2 class="display-1 fw-bold text-primary">404</h2>
    <p class="lead fs-2">Мимо!</p>
    <p class="fs-4 mb-4">Батла с ID <b th:text="${gameId}"></b> не существует.</p>
    <a href="/" class="btn btn-primary btn-lg px-5">На главную</a>
  </div>
</main>
</body>
</html>